body{
    background-color: pink;
     padding-bottom: 17000px;
}

.img{
    filter: hue-rotate(0deg);
    opacity: 0;
    width:80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.imgb{
    width:110%;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translateX(-50%)translateY(-50%);
}