body {
    background-color: #ffb549;
    padding-bottom: 40000px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: white;
    left: 50%;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    animation: opa 5s ease;
}


@keyframes bgchange {
    0% {
        background: #ffe6e1;
    }

    /*変化させたい色*/
    25% {
        background: #fdcb9e;
    }

    /*変化させたい色*/
    50% {
        background: #fdcbc1;
    }

    /*変化させたい色*/
    75% {
        background: #ffff8c;
    }

    /*変化させたい色*/
    90% {
        background: #b2dffb;
    }

    /*変化させたい色*/
    100% {
        background: #ffe6e1;
    }

    /*変化させたい色*/
}

@keyframes change {
    0% {
        filter: hue-rotate(0deg)
    }

    50% {
        filter: hue-rotate(180deg)
    }

    100% {
        filter: hue-rotate(360deg)
    }

}

@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
    /*高さを100%にして描画エリアをとる*/
}

#particles-js {
    animation: change 100s ease infinite;
    opacity: 0;
    position: fixed;
    /*描画固定*/
    z-index: -1;
    /*描画を一番下に*/
    left: 0px;
    width: 101%;
    top: -10px;
    height: 101%;
    background-color: #18b2fa;
    /*背景色*/
}

#particles-js2 {
    animation: change 100s ease infinite;
    opacity: 0;
    position: fixed;
    /*描画固定*/
    z-index: -1;
    /*描画を一番下に*/
    left: 0px;
    width: 101%;
    top: -10px;
    height: 101%;
    background-color: #98dbfa;
    /*背景色*/
}

#wrapper {
    position: relative;
    /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;
    /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width: 100%;
    height: 100%;
}

.scene1 {
    z-index: 1;
    background-color: white;
    position: absolute;
    left: -10px;
    ;
    width: 101%;
    height: 150%;
    top: 10000px;
    border: #b2dffb;

}

.scene2 {
    z-index: 1;
    left: -10px;
    ;
    width: 101%;
    background-color: white;
    position: absolute;
    height: 150%;
    top: 20000px;
    border: #b2dffb;

}

.scene3 {
    z-index: 1;
    background-color: white;
    position: absolute;
    left: -10px;
    ;
    width: 101%;
    height: 150%;
    top: 30000px;
    border: #b2dffb;

}


.imgd {
    opacity: 0;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.imge {
    position: absolute;
    opacity: 0;
    filter: hue-rotate(0deg);
    right: 10%;
    padding-top: 1500px;
}

.imgf {
    position: absolute;
    opacity: 0;
    width: 101%;
    left: -10px;
    filter: hue-rotate(0deg);
    padding-top: 2000px;
}

.imgg {
    position: absolute;
    opacity: 0;
    left: 60%;
    filter: hue-rotate(0deg);
    padding-top: 1500px;
}

.imgh {
    position: absolute;
    opacity: 0;
    left: 10%;
    filter: hue-rotate(0deg);
    padding-top: 2500px;
}

.imgi {
    position: absolute;
    opacity: 0;
    left: 0%;
    filter: hue-rotate(0deg);
    padding-top: 3300px;
}

.imgj {
    position: absolute;
    opacity: 0;
    left: 60%;
    filter: hue-rotate(240deg);
    padding-top: 3000px;
}

.imgj1 {
    position: absolute;
    opacity: 0;
    left: 50%;
    filter: hue-rotate(120deg);
    padding-top: 3800px;
}

.imgj2 {
    z-index: -1;
    position: absolute;
    opacity: 0;
    left: 30%;
    filter: hue-rotate(0deg);
    padding-top: 3600px;
}

.imgk {
    position: absolute;
    opacity: 0;
    width: 110%;
    filter: hue-rotate(0deg);
    padding-top: 2600px;
}

.imgp {
    margin-left: -8000px;
    z-index: 3;
    position: absolute;
    opacity: 1;
    width: 120%;
    filter: hue-rotate(0deg);
    padding-top: 15000px;
}